

.end
{
    margin-right: 40px;
    color: white;
    
}
#hdesign{
    font-family: 'Lora', serif;
    font-size: 12px;  
}

#linkfont{
    font-family: 'Lora', serif;
    font-size: 15px;
    color: #204A84;
    margin-left: 30px;
}